{% extends "base.html" %}

{% block content %}


{% for cheepee in cheepees %}
    <div class="card">
      <img class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ cheepee.productName }}</h5>
        <p class="card-text">{{ cheepee.productPrice }}</p>
        <img src="{{ cheepee.productImageUrl }}" alt="Product Image" height="200" width="50">
        <a href="#" class="btn btn-primary">See Cheapie</a>
      </div>
    </div>            
    
    {% empty %}
            <p>There are no cheepees</p>

{% endfor %}

 {% endblock content %}